* {
    margin: 0;
    color: var(--color-gray);
}

strong {
    color: var(--color-purplemedium);
}

.cursor_default {
  cursor: default;
}

.flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: var(--color-gray) !important;
    border-color: var(--color-gray) !important;
    height: 2.8rem;
}

.btn-primary span {
    font-size: 18px;
    color: white;
}

.btn-primary:hover {
    background-color: var(--color-purple) !important;
    border-color: var(--color-purple) !important;
    transition: ease 1s;
    transform: scale(1.05);
    font-weight: 600;
}

.btn-secondary {
    background-color: var(--color-gray) !important;
    border-color: var(--color-gray) !important;
    height: 2.8rem;
}

.btn-secondary span {
    font-size: 18px;
    color: white;
}

.btn-secondary a {
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: var(--color-orange) !important;
    border-color: var(--color-orange) !important;
    transition: ease 1s;
    transform: scale(1.05);
    font-weight: 600;
}

.btn-tertiary {
    background-color: var(--color-orange) !important;
    border-color: var(--color-orange) !important;
    height: 2.8rem;
}

.btn-tertiary span {
    font-size: 18px;
    color: var(--color-gray);
    font-weight: 500;
}

.btn-tertiary a {
    text-decoration: none;
}

.btn-tertiary:hover {
    background-color: var(--color-purple) !important;
    border-color: var(--color-purple) !important;
    transition: ease 1s;
    transform: scale(1.05);
    font-weight: 800;
}

/* Navigation Breadcrumb */
.navigation_breadcrumb {
    height: 1rem;
}

.breadcrumb_inactive a,
.breadcrumb_active a {
    color: var(--color-gray);
    text-decoration: none;
    font-size: 14px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    height: 7rem;
}

nav i {
    font-size: 1.5rem;
}

.active,
.inactive {
    font-size: 18px;
    padding-right: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.active {
    font-weight: 700;
    color: var(--color-purple) !important;
}

.inactive {
    color: var(--color-gray) !important;
}

/* Home */
header {
    background-image: url("/assets/img/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 28rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_title {
    margin: 0rem 0rem 2rem 0rem;
    font-size: 60px;
    font-weight: 700;
    color: var(--color-purplemedium);
}

.header_subtitle {
    font-weight: 600;
}

/* About */
.about_title {
    font-size: 60px;
    color: var(--color-purple);
    text-align: center;
}

.about_row {
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.about_text {
    line-height: 1.8;
    font-size: 18px;
    padding: 1rem 4rem;
    margin: 0;
}

/* About Hobbies */
.hobbies img {
    width: 5rem;
    height: 5.5rem;
}

.hobbies p {
    width: 30rem;
    height: 9rem;
    font-size: 18px;
}

/* Works */
.works h3 {
    font-weight: 600;
    color: var(--color-purplemedium);
}

.works p,
.slider_body p {
    width: 80%;
    line-height: 1.8;
}

.works_icons {
    font-size: 90px;
    color: var(--color-purple);
}

/* Skills */
.skills {
  text-align: center;
}

.skills img {
    height: 2rem;
}

.skills p {
    width: 6rem;
    font-weight: 500;
    text-align: center;
}

/* Slider */
.slider {
    max-height: 50rem;
}

.slider img {
    width: 80%;
    margin-bottom: 1rem;
}

.slider_body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.slider_body h4 {
    width: 35rem;
    text-align: center;
    color: var(--color-purplemedium);
}

.slide_only_text h4 {
    font-size: 30px;
    width: 30rem;
    color: var(--color-purpledark);
}

.slide_only_text p {
    margin-top: 2rem;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--color-purplemedium) !important;
}

/* Contact */
.contact {
    display: flex;
    justify-content: space-evenly;
}

.contact p {
  text-align: center;
}

.contact i {
    font-size: 6rem;
    color: var(--color-purplemedium);
}

.contact a:hover {
    transition: ease 1.5s;
    transform: scale(1.1);
    color: var(--color-purpledark);
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
}

footer section {
    display: flex;
    flex-direction: row;
}

footer i {
    font-size: 2rem;
    margin-right: 2rem;
}
