* {
    margin: 0;
    color: var(--color-gray);
}

a,
.fsSlider_body a {
    text-decoration: none;
}

strong {
    color: var(--color-purple);
}

.btn-primary {
    background-color: var(--color-gray) !important;
    border-color: var(--color-gray) !important;
    height: 2.8rem;
}

.btn-primary span {
    font-size: 18px;
    color: white;
}

.btn-primary:hover {
    background-color: var(--color-purple) !important;
    border-color: var(--color-purple) !important;
    transition: ease 1s;
    transform: scale(1.05);
    font-weight: 600;
}

/* Navigation Breadcrumb */
.navigation-breadcrumb {
    height: 1rem;
}

.breadcrumb-inactive a,
.breadcrumb-active a {
    color: var(--color-gray);
    text-decoration: none;
    font-size: 14px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    height: 7rem;
}

nav i {
    font-size: 1.5rem;
}

.list-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active,
.inactive {
    font-size: 18px;
    padding-right: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.active {
    font-weight: 700;
    color: var(--color-purple) !important;
}

.inactive {
    color: var(--color-gray) !important;
}

.works-dropdown {
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* Home */
header {
    background-image: url("/assets/img/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-texts {
    font-size: 30px;
    font-weight: 900;
}

.header-title {
    margin: 0rem 0rem 2rem 0rem;
    font-size: 60px;
    font-weight: 700;
    color: var(--color-purple);
}

.header-subtitle {
    font-weight: 600;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-title {
    font-size: 60px;
    color: var(--color-purple);
}

.about-row {
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.about-text {
    line-height: 1.8;
    font-size: 20px;
}

/* Works */
.works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.works p {
    width: 80%;
}

.works_icons {
    font-size: 90px;
    color: var(--color-purple);
}

/* Slider */

.sliderImage {
    width: 50%;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--color-purple) !important;
}

.fsSlider_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
}

footer section {
    display: flex;
    flex-direction: row;
}

footer i {
    font-size: 2rem;
    margin-right: 2rem;
}
