* {
    margin: 0;
    color: var(--color-gray);
}

a {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--color-purple);
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

.active,
.inactive {
    font-size: 20px;
    padding-right: 1rem;
    color: var(--color-gray);
    font-weight: 500;
}

.active {
    color: var(--color-white);
    font-weight: 600;
}
