@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --font-default: "Montserrat", sans-serif;

    --color-primary: #493566;
    --color-onPrimary: #D1D1D1;

    --color-secondary: #4A1C1C;
    --color-onSecondary: #B5B5B5;

    --color-background: #201B27;
    --color-onBackground: #AEA3BF;

    --color-surface: #B6AAC8;
    --color-onSurface: #1F1A26;
}

body {
    font-family: var(--font-default);
}

