@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --font-title: "Courgette", cursive;
    --font-default: "Montserrat", sans-serif;

    --color-purple: #a66ff2;
    --color-purplemedium: #553980;
    --color-purpledark: #34234d;

    --color-orange: #f4c485;
    --color-orangemedium: #a07031;

    --color-gray: #565354;
}

body {
    font-family: var(--font-default);
}

.title {
    font-family: var(--font-title);
}
